# Django Framework
django>=4.2.0
django-cors-headers

# Environment variables
python-dotenv

# Google Drive API
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# Langchain e IA
langchain>=1.0.0
langchain-classic
langchain-community
langchain-openai
langchain-text-splitters

# Vector Database
faiss-cpu

# Document Processing
pypdf
docx2txt
unstructured
openpyxl
pandas
unstructured[xlsx]
python-docx

# Server
gunicorn
networkx
